
*{
    margin: 0px;
    padding: 0px;
}




#footer{
    width: 100%;
    height: 300px;
    background: #4c4e5b;
    color: white;
    
}

#footer .wrap > div{
    float: left;
    width: 320px;
    height: 170px;
    margin: 50px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



#footer iframe{
    width: 80%;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 5px gray;
}


#pie {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    width: 100%;
    height: 20%;
    background-color: azure;
    text-align: center;
}